{% extends "shopapp/base.html" %}

{% block title %}
    Order list
{% endblock title %}

{% block body %}
<h1>Orders:</h1>
<div>
    {% if orders %}
    <div>
        {% for order in orders %}
            <div>Order by: {% firstof order.user.first_name order.user.username %}</div>
            <div>Promocode: {{ order.promocode }}</div>
            <div>Address: {{ order.delivery_address }}</div>
            <div>
                Products in order:
                <ul>
                    {% for product in order.products.all %}
                        <li>{{ product.name }} for ${{ product.price }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        </div>           
{% else %}
    <h3>No orders yet</h3>
{% endif %}
</div>

<div>
    <a href="{% url 'shopapp:create_order' %}">Create a new order</a>
</div>
{% endblock body %}