{% extends "shopapp/base.html" %}

{% block title %}
    Products list
{% endblock title %}

{% block body %}
    <h1>Products:</h1>
    <div>
        {% if products %}
            <ul>
                {% for product in products %}
                    <li>
                        <div>Name: {{ product.name }}</div>
                        <div>Price: {{ product.price }}</div>
                        <div>Discount: {% firstof product.discount 'no discount' %}</div>
                    </li>
                {% endfor %}
            </ul>           
        {% else %}
            <h3>No products yet</h3>
        {% endif %}
    </div>

    <div>
        <a href="{% url 'shopapp:create_product' %}">Create a new product</a>
    </div>
{% endblock body %}